/* цвет емейла и телефона
color: rgba(255, 255, 255, 0.6);*/

/*цвет заливки героя и футера background: #2F303A;*/

:root {
  --body-color: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-text-color-h1: #ffffff;
  --text-logo-color: #000000;
  --primary-button-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--body-color);
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

/* logo */
.logo {
  color: var(--text-logo-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo.current {
  color: var(--accent-color);
}

/*  site-nav */
.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* auth-adds */
.auth-adds {
  color: var(--primary-text-color);
}
.auth-adds:hover,
.auth-adds:focus {
  color: var(--accent-color);
}
/* hero */
.hero-title {
  /* color: var(--hero-text-color-h1); */
  color: var(--text-logo-color);
}

/* Section */

.section-title {
  color: var(--title-text-color);
}

/* features */

.feature-list .title {
  color: var(--title-text-color);
}
/* Button */
.button-primary {
  color: var(--primary-button-color);
  background-color: #188ce8;
}
/* our team */
.team .webstudio {
  color: var(--title-text-color);
}

/* footer */
