/*СЕЛЕКТОР ТЕГА*/
/*СЕЛЕКТОР КЛАССА*/
/*СЕЛЕКТОР ИДЕНТИФИКАТОРА*/
/*СЕЛЕКТОР ПОТОМКА*/
/*СЕЛЕКТОР РЕБЕНКА*/
/*СЕЛЕКТОР АТРИБУТА*/

/* цвет основного текста 
color: #212121;*/

/* вторичный цвет текста 
color: #757575;*/

/* цвет адреса, заголовка героя
color: #FFFFFF; */

/* цвет емейла и телефона
color: rgba(255, 255, 255, 0.6);*/

/*цвет заливки героя и футера background: #2F303A;*/

/*цвет логотыпа веб студио color: #2196F3;
#000000;*/

/*цвет ынтерактивной ссылки background: #2196F3;*/
/*  */
